body {
    font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
}
div1 {
    /*position: relative;*/
    top: 20px;
}
.mymenu {
	/*position: absolute;*/
	top: 0px;
	height: 50px;
	width: 100%;
	background: #fbf0a3;
	/*min-width: 500px;*/
	/*max-width: 2000px;*/
	/*float:left;
    width: 30%;
    max-width: 400px;
    min-width: 200px;
    margin-left: 0px;
    border: 4px double #ff0000;
    font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
    font-size: 14pt;*/
}
.serchres {
    display: inline-block;
}
.innerTable {
    width: 100%;
    text-align:center;
}
.actionlinks {
    font-size: 14pt;
    color: black;
    text-decoration: none;
}
.tableElement {
    text-align: center;
    float: left;
    width: 50%;
    min-width: 500px;
    max-width: 1000px;
    border: 1px;
    font-size: 14pt;
}
.tableCaracteristic {
    text-align: center;
    width: 4%;
    min-width: 64px;
    max-width: 128px;
    border: 1px;
    font-size: 14pt;
}
.detailtables {
    text-align: center;
    float: left;
    width: 50%;
    min-width: 300px;
    max-width: 800px;
    border: 1px;
    font-size: 14pt;
}
.editTables {
    text-align: center;
    float: left;
    width: 350px;
    border: 1px;
    font-size: 14pt;
}
.textArea {
    width: 30%;
    min-width: 350px;
    max-width: 700px;
    height: 250px;
    font-size: 14pt;
    font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
}
.inputs {
    width: 30%;
    min-width: 300px;
    max-width: 600px;
    font-size: 14pt;
    font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
}
.inputsSmall {
    width: 7%;
    min-width: 70px;
    max-width: 140px;
    font-size: 14pt;
    font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
}
.inputsMedium {
    width: 15%;
    min-width: 150px;
    max-width: 300px;
    font-size: 14pt;
    font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
}
.firstColumn {
    text-align: left;
    width: 200px;
    font-size: 14pt;
}
.secondColumn {
    width: 150px;
    font-size: 14pt;
}
.arrowButton {
    width: 4%;
    min-width: 40px;
    max-width: 80px;
}